/* index-------------------*/
.comments {
  margin-top: 60px;
  .time {
    float: left;
  }
  .comment {
    margin-right: 40px;
    margin-top: 15px;
  }
}

.btn {
  margin: 0px 30px; 
}

.hart a{
  color: black;
}
.fite {
  color: gray;
  padding-right: 10px;
  font-size: 20px;
}

.un-fite {
  color: red;
  font-size: 20px;
  padding-right: 10px;
  font-size: 20px;

}
/* new-------------------*/
.makecomment {
  padding: 50px;
}
/* show-------------------*/
.show_comment {
  padding-top: 50px;
  margin: 0px auto;
  width: 50%;
  .comment_text {
    margin: 30px 0;
    li{
      margin: 20px;
    }
  }

.comment_reply {
  width: 80%;
}
}
