/* index-------------------*/
.comments,
.makecomment {
  padding: 60px 50px 0 40px;

  .time {
    float: left;
  }

  .comment {
    margin-right: 40px;
    margin-top: 15px;
  }
}

.btn {
  margin: 0px 30px;
}

.hart a {
  color: black;
  text-decoration: none;
}

.fite {
  color: gray;
  padding-right: 10px;
  font-size: 20px;
}

.un-fite {
  color: red;
  font-size: 20px;
  padding-right: 10px;
}

/* new-------------------*/

/* show-------------------*/
.comment_reply {
  width: 95%;
}

.comment_text {
  padding: 60px 50px 0 40px;
}