/* application-------------------*/
.sidebar {
    background-color: lightgray;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-top: 60px;
    width: 330px;
}

.sidebar li {
    text-align: center;
    width: 100%;
    padding-top: 30px;
}

li img {
    border-radius: 50%;
    border: 1px black solid;
    background-color: white;
    width: 150px;
    height: 150px;
    margin-top: 60px;
}

.main,.new_comment {
    padding: 60px 50px 0 40px;
}

#main {
    margin-top: 50px;
}
/* login -----------------------*/
.loginpage {
    .toppage_img {
        width: 100%;
        position: absolute;
        z-index: -10;
        filter: contrast(30%)
    }

    .title {
        margin: 60px;
        color: white;
        height: 150px;
        h2 {
            font-size: 80px;
            font-weight: bold;
        }
    }

    .login {
        button {
        margin: 30px;
        }
    }
}

@media(max-width: 780px){
    .login {
        margin-top: 120px;
    }
}

@media(max-width: 630px){
    .login {
        margin-top: 40px;
    }
}
/* index -----------------------*/
.main {
    a {
        float:right;
        margin-bottom: 20px;
    }
    div {
        height: 30px;
        background-color: white;
        cursor: pointer;
    }
    table {
        margin-top: 30px;
    }
}

.new_comment {
    a {
        float:right;
        margin-bottom: 20px;
    }
}

.flash {
    text-align: center;
    z-index: 10;
}
/* new -----------------------*/
.makeuser{
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}